<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cesiumjs.org/releases/1.54/Build/Cesium/Cesium.js"></script>
  <link href="https://cesiumjs.org/releases/1.54/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>
<body>
  <style>
    html, body {
      overflow: hidden;
      margin:0px;
      padding:0px;
      height:100%
    }
    #cesiumContainer {
      height:100%
    }
  </style>
  <div id="cesiumContainer"></div>
  <script>
    var viewer = new Cesium.Viewer('cesiumContainer');
  </script>
</body>
</html>